:root {
	--primary: #d81e5b;
	--secondary: #8c38ff;
	--dark: #131a26;
	--ligth: #eee;
}
/* :root определяет глобальные переменные для использования в CSS. Здесь объявлены четыре переменные: --primary, --secondary, --dark и --ligth, которые соответствуют значениям цветов. */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fora sans', sans-serif;
}
/* Правило * задает обнуление отступов (margin) и полей (padding) для всех элементов страницы. Также используется "border-box" значение свойства box-sizing, чтобы размеры элементов включали границы и отступы. Устанавливается шрифт 'Fora sans', sans-serif для текста на всей странице. */

body {
	background-color: var(--ligth);
}
/* Это правило устанавливает цвет фона для элемента body, используя переменную --ligth (светлый). */

.App {
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}
/* Это правило относится к элементу с классом "App". Устанавливает его отображение в виде flex-контейнера с высотой, равной 100% высоты видимой области (vh). Элементы внутри выравниваются по центру по вертикали и горизонтали. */

.calculator {
	width: 100%;
	max-width: 400px;
	background-color: #fff;
	border-radius: 16px;
	overflow: hidden;
	box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}
/* Это правило применяется к элементу с классом "calculator". Задает ширину в 100% и максимальную ширину в 400 пикселей. Устанавливает цвет фона #fff (белый), скругление углов радиусом 16 пикселей. Добавляет тень по краям элемента с помощью box-shadow. */

.display {
	padding: 16px;
	text-align: right;
	background-color: var(--dark);
	color: var(--ligth);
	font-size: 24px;
	font-weight: 300;
}
/* Это правило относится к элементу с классом "display". Задает отступы внутри элемента равные 16 пикселям. Устанавливает выравнивание текста по правому краю и цвет фона, используя переменную --dark (темный). Задает цвет текста, используя переменную --ligth (светлый), размер шрифта 24 пикселя, и тонкий (300) шрифт. */

.highlight {
	color:aquamarine;
}

/* Это правило применяется к элементам span внутри элемента с классом "display". Задает размер шрифта 14 пикселей и цвет текста #888. */

button {
	appearance: none;
	border: nont;
	outline: none;
	color: #fff;
	font-size: 20px;
	padding: 16px;
	cursor: pointer;
	transition: 0.4s;
}
/* Это правило применяется к элементам button. Отключает стандартное отображение кнопки (appearance: none), устанавливает отсутствие границы (border: none), убирает контур при фокусировке на кнопке (outline: none). Задает цвет текста #fff (белый), размер шрифта 20 пикселей, отступы внутри кнопки равные 16 пикселям. Устанавливает курсор на кнопке в виде указателя и добавляет плавный переход на кнопку в течение 0.4 секунды. */

button:hover {
opacity: 0.9;
}
/* Это правило применяется при наведении курсора на элемент button. Устанавливает непрозрачность элемента на 0.9, чтобы создать эффект затемнения при наведении. */

.operators {
	display: flex;
}
/* Это правило относится к элементу с классом "operators". Задает его отображение в виде flex-контейнера. */

.operators button {
	flex: 1 1 0%;
	background-color: var(--primary);
	font-weight: 700;
}
/* Это правило применяется ко всем кнопкам внутри элемента с классом "operators". Задает равное распределение доступного пространства между кнопками (по горизонтали), фоновый цвет, используя переменную --primary, и жирное (font-weight: 700) начертание шрифта. */

.digits {
	display: flex;
	flex-wrap: wrap;
}
/* Это правило относится к элементу с классом "digits". Задает его отображение в виде flex-контейнера и разрешает перенос элементов на новую строку при необходимости (flex-wrap: wrap). */

.digits button {
	flex: 1 1 33.333%;
	max-width: 33.333%;
	background-color: var(--dark);
}
/* Это правило применяется ко всем кнопкам внутри элемента с классом "digits". Задает равное распределение доступного пространства (по горизонтали) для кнопок, максимальную ширину кнопок равную 33.333% (чтобы на одной строке было максимум 3 кнопки), фоновый цвет, используя переменную --dark (темный). */
